{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% call base::draw_embed("About", "", "") %}
{% endblock head %}

{% block content %}
<div class="card card-body">
	<div class="row row-lg-cols-2">
		<div class="col-lg-6 col-xl-4">
			<img src="/dma_black.png" alt="DIVA Mod Archive logo" class="ratio ratio-1x1">
		</div>
		<div class="col-lg-6 col-xl-8">
			<h3 class="text">About DIVA Mod Archive</h3>
			<p class="text">
				Project DIVA © 2009-2025 SEGA. CO., LTD. All rights reserved.<br>
				This site is not affiliated in any way with SEGA CO., LTD.
			</p>
			<p class="text">
				Developed by vixen256<br>
				Development is currently hosted on the <a href="https://discord.gg/cvBVGDZ" class="text">Project DIVA Modding 2nd server</a>.<br>
				The source code can be found on <a href="https://github.com/vixen256/divamodarchive" class="text">github</a>
			</p>
			<p class="text">
				This web-interface is powered by <a href="https://getbootstrap.com" class="text">Bootstrap</a> v5, with
				the <a href="https://bootswatch.com/zephyr/" class="text">bootswatch Zephyr Theme</a>.<br>
				The server is built on axum with askama templating and a sqlx postgresql database.
			</p>
			<p class="text">
				The following people have made this project possible, in no particular order<br>
				MushieBLUSH: Icon design<br>
				jaykthx, akasaka_spk, cainan, snakemi, ManMan, and everyone else in diva addict rehab for initial motivation and feedback.<br>
				It was a fun time indeed.
			</p>
		</div>
	</div>
</div>
{% endblock content %}
