<!doctype html>
<html lang="en">

<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}{% endblock head %}
	<link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
	<div id="content">{% block content %}{% endblock content %}</div>
	<br><br><br>
	<nav class="navbar navbar-light bg-dark fixed-bottom d-flex justify-content-around">
		<a class="nav-link" style="color: white" href="/">Posts</a>
		{% if is_logged_in == true %}
		<a class="nav-link" style="color: white" href="/upload">Upload</a>
		{% else %}
		<a class="nav-link" style="color: white"
			href="https://discord.com/api/oauth2/authorize?client_id=995951474959990824&redirect_uri=https%3A%2F%2Fdivamodarchive.xyz%2Flogin&response_type=code&scope=identify">Login</a>
		{% endif %}
	</nav>
</body>

</html>