<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ gtag }}');
	</script>

	<!-- Flamethrower from https://github.com/fireship-io/flamethrower -->
	<script src="{{ base_url }}/flamethrower.min.js"></script>

	<script>
		const router = flamethrower();
	</script>

	{% block head %}{% endblock head %}
	<link href="{{ theme.url }}" rel="stylesheet" crossorigin="anonymous">
	<style>
		.text {
			color: var(--bs-body-color) !important;
		}
		.nav-text {
			{% if theme.name != "Zephyr" %}
				color: var(--bs-body-color) !important;
			{% else %}
				color: var(--bs-navbar-color) !important;
			{% endif %}
		}
		.text-light {
			color: var(--bs-btn-active-color) !important;
		}
		.list-text {
			{% if theme.name == "Quartz" %}
			color: var(--bs-dark) !important;
			--bs-bg-opacity: 1;
			background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
			{% endif %}
		}
		.rounded-image {
			border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
			object-fit: contain;
		}
		.flat-image {
			border-radius: 0;
			object-fit: contain;
		}
		::placeholder {
			color: var(--bs-dark) !important;
		}
		.fit {
			width: fit-content;
			block-size: fit-content;
		}
		.line {
			width: 2px;
			height: 100%;
			background-color: var(--bs-card-cap-bg) !important;
		}
		.col-small {
			flex: 0 0 auto;
			width: 1%;
		}
	</style>
</head>

<body>
	<br>
	<div id="content" class="container">
		<div class="alert alert-danger text" style="margin-left: -0.75rem; margin-right: -0.75rem;">
			Recently I have switched the file host to AWS S3 which has lead to fast download speeds.<br>
			<a href="https://ko-fi.com/brogamer" class="nav-link p-0 nav-text">However this is expensive, if you want the speeds to stay fast please donate</a>
			Because of the current situation downloads have been limited to 3GB per user per day. Sorry if this causes problems for you.
		</div>
		{% block content %}{% endblock content %}
	</div>
	<br><br><br><br><br>
	<nav class="navbar navbar-dark bg-dark fixed-bottom d-flex justify-content-around shadow">
		<a class="nav-link p-0 nav-text" href="/">Mods</a>
		{% if is_logged_in == true %}
		<a class="nav-link p-0 nav-text" href="/liked">Liked Mods</a>
		<a class="nav-link p-0 nav-text" data-cold="" href="/upload">Upload</a>
		<a class="nav-link p-0 nav-text" data-cold="" href="/logout">Logout</a>
		{% else %}
		{% set redirect_link = base_url ~ "/login" %}
		{% set redirect_link = redirect_link | urlencode_strict %}
		{% set discord_link = "https://discord.com/api/oauth2/authorize?client_id=995951474959990824&redirect_uri=" ~ redirect_link ~ "&response_type=code&scope=identify" %}
		<a class="nav-link p-0 nav-text" data-cold="" href="{{ discord_link }}">Login</a>
		{% endif %}
		<a class="nav-link p-0 nav-text" data-cold="" href="/theme">
			Switch theme
		</a>
		<a class="nav-link p-0 nav-text" href="/about">About</a>
		{% if is_admin == true %}
		<a class="nav-link p-0 nav-text" data-cold="" href="/admin">Admin</a>
		{% endif %}
	</nav>
	<script>
		if (router.prefetched.size == 0) {
			router.prefetch();
		}
	</script>
</body>
</html>
