{% extends "base.html" %}
{% import "base.html" as base %}
{% import "cstm_item_helpers.html" as cstm_item_helpers %}

{% block head %}
{% endblock head %}

{% block content %}
<script>
	function getHumanCharaName(chara) {
		switch (chara) {
			case "MIK": return "Miku";
			case "RIN": return "Rin";
			case "LEN": return "Len";
			case "LUK": return "Luka";
			case "NER": return "Neru";
			case "HAK": return "Haku";
			case "KAI": return "Kaito";
			case "MEI": return "Meiko";
			case "SAK": return "Sakine";
			case "TET": return "Teto";
			case "EXT": return "Extra";
			case "ALL": return "All";
			default: return "";
		}
	}

	function getHumanPartName(part) {
		switch (part) {
			case "KAMI": return "Hair (Kami)";
			case "FACE": return "Face";
			case "NECK": return "Neck";
			case "ZUJO": return "Hat (Zujo)";
			case "BACK": return "Back";
			default: return "";
		}
	}

	function someOrNA(data) {
		if (data == null) {
			return "";
		} else {
			return data;
		}
	}

	function getCstmItemHtml(cstm_item, posts, modules) {
		var tr = document.createElement('tr');
		tr.classList = [document.getElementById("cstm_items").children.length % 2 == 0 ? '{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}' : 'table-dark'];
		var name_en = "";
		if (cstm_item.cstm_item.name_en != null) {
			name_en = cstm_item.cstm_item.name_en;
		} else if (cstm_item.cstm_item.name != null) {
			name_en = cstm_item.cstm_item.name;
		}

		var source_name = "MM+";
		var source_link = source_name;
		if (cstm_item.post != null) {
			source_name = posts[cstm_item.post].name;
			source_link = `<a href="/post/${cstm_item.post}" class="nav-link">${source_name}</a>`;
		}

		tr.innerHTML = `
			<td>${name_en}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_jp)}</td>
			<td>${getHumanCharaName(cstm_item.cstm_item.chara)}</td>
			<td>${getHumanPartName(cstm_item.cstm_item.part)}</td>
			<td>${cstm_item.id}</td>
			<td>${source_name}</td>
		`;
		tr.role = "button";
		tr.setAttribute("data-bs-toggle", "offcanvas");
		tr.setAttribute("data-bs-target", `#offcanvas${cstm_item.uid}`);

		document.getElementById("cstm_items").append(tr);

		var div = document.createElement('div');
		div.classList = ['offcanvas offcanvas-start'];
		div.id = `offcanvas${cstm_item.uid}`;
		div.tabIndex = -1;
		div.style = "width: var(--bs-offcanvas-width) * 1.5";

		var html = `
<div class="offcanvas-header">
	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name (EN)</th>
			<th>Character</th>
			<th>ID</th>
			<th>Source</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-dark">
			<td>${name_en}</td>
			<td>${getHumanCharaName(cstm_item.cstm_item.chara)}</td>
			<td>${cstm_item.id}</td>
			<td>${source_link}</td>
		</tr>
	</tbody>
	<thead>
		<th>Name (JP)</th>
		<th>Name (CN)</th>
		<th>Name (FR)</th>
		<th>Name (GE)</th>
	</thead>
	<tbody class="table-dark">
		<tr class="table-dark">
			<td>${someOrNA(cstm_item.cstm_item.name_jp)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_cn)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_fr)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_ge)}</td>
		</tr>
	</tbody>
	<thead>
		<th>Name (IT)</th>
		<th>Name (KR)</th>
		<th>Name (SP)</th>
		<th>Name (TW)</th>
	</thead>
	<tbody class="table-dark">
		<tr class="table-dark">
			<td>${someOrNA(cstm_item.cstm_item.name_it)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_kr)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_sp)}</td>
			<td>${someOrNA(cstm_item.cstm_item.name_tw)}</td>
		</tr>
	</tbody>
		`;

		if (cstm_item.cstm_item.bind_module != null && modules[cstm_item.cstm_item.bind_module] != null) {
			var bind_module = modules[cstm_item.cstm_item.bind_module];

			var name_en = "";
			if (bind_module.module.name_en != null) {
				name_en = bind_module.module.name_en;
			} else if (bind_module.module.name != null) {
				name_en = bind_module.module.name;
			}

			var source_name = "MM+";
			var source_link = source_name;
			if (cstm_item.post != null) {
				source_name = posts[bind_module.post].name;
				source_link = `<a href="/post/${bind_module.post}" class="nav-link">${source_name}</a>`;
			}

			html += `
	<thead>
		<tr>
			<th>Module Name (EN)</th>
			<th>Module Name (JP)</th>
			<th>Module ID</th>
			<th>Module Source</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-dark">
			<td>${name_en}</td>
			<td>${someOrNA(bind_module.module.name_jp)}</td>
			<td>${bind_module.id}</td>
			<td>${source_link}</td>
		</tr>
	</tbody>
			`;
		}

		html += `
</table>
		`;

		div.innerHTML = html;

		document.getElementById("offcanvasList").append(div);
	}

	async function search(query, offset) {
		var params = new URLSearchParams();
		if (query != null) params.append("query", query);
		if (offset != null) params.append("offset", offset);
		params.append("limit", "20");
		var options = {
			method: 'GET',
		}

		return await fetch("/api/v1/ids/cstm_items?" + params.toString(), options).then(req => req.json());
	}

	async function loadMore() {
		document.getElementById("loadMore").hidden = true;

		var cstm_items = await search(document.getElementById("searchQuery").value, document.getElementById("cstm_items").children.length);
		for (var cstm_item of cstm_items.cstm_items) {
			getCstmItemHtml(cstm_item, cstm_items.posts, cstm_items.bound_modules);
		}

		if (cstm_items.cstm_items.length == 20) {
			document.getElementById("loadMore").hidden = false;
		}
	}

	async function newLoad() {
		document.getElementById("cstm_items").innerHTML = "";
		document.getElementById("offcanvasList").innerHTML = "";
		loadMore();
	}
</script>
<div class="row col-6 offset-3">
	<input onchange="newLoad()" class="form-control list-text" type="text" placeholder="Search" name="query"
		id="searchQuery" autocomplete="off">
</div>
<br>
{% call cstm_item_helpers::draw_cstm_items_list(cstm_items, true) %}
<br>
<button class="btn btn-sm btn-primary" style="width: 100%" type="button" id="loadMore" onClick="loadMore()" {% if
	cstm_items.cstm_items.len() < 20 %}hidden{% endif %}>Load more</button>
{% endblock content %}
