{% macro draw_embed(title="DIVA Mod Archive", description="", image="", author="DIVA Mod Archive") %}
<title>{{ title }} - DIVA Mod Archive</title>
<meta property="og:title" content="{{ title }} - DIVA Mod Archive">
{% if description != "" %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if image != "" %}
<meta property="og:image" content="{{ image }}">
<meta name="twitter:card" content="summary_large_image">
{% endif %}
<meta property="og:site_name" content="{{ author }}">
{% endmacro draw_embed %}

{% macro draw_post_short(id, name, text_short, image, likes, dislikes) %}
<div class="col">
	<a class="card shadow-sm" style="text-decoration: none;" href="/posts/{{ id }}">
		<div class="card-img-top ratio ratio-16x9">
			<img src="{{ image }}" width="100%" height="225" crossorigin="anonymous">
		</div>
		<div class="card-body">
			<h4 style="color: white">{{ name | striptags }}</h4>
			<h6 style="color: white">{{ text_short | striptags }}</h6>
			<h7 style="color: white">{{ likes }}👍</h7>
			<h7 style="color: white">{{ dislikes }}👎</h7>
		</div>
	</a>
</div>
{% endmacro draw_post_short %}

{% macro draw_buttons(current_offset, draw_forward) %}
<div class="d-flex justify-content-evenly">
	{% if current_offset != 0 %}
	<a class="nav-link" href="?offset={{ current_offset - 30 }}">
		<button class="btn btn-lg btn-secondary" type="button">Previous</button>
	</a>
	{% endif %}
	{% if draw_forward %}
	<a class="nav-link" href="?offset={{ current_offset + 30 }}">
		<button class="btn btn-lg btn-secondary" type="button">Next</button>
	</a>
	{% endif %}
</div>
{% endmacro draw_buttons %}

{% macro draw_search_box(previous_title, previous_sort) %}
<br>
<div class="container-fluid">
	<form class="nav">
		<div class="row container">
			<div class="col-6">
				<input class="form-control" type="text" placeholder="Search" name="name" autocomplete="off"
					value="{{ previous_title }}">
			</div>
			<div class="col-4">
				<select name="order" class="form-control" selected="{{ previous_sort }}">
					<option value="latest">Latest</option>
					{% if previous_sort == "popular" %}
					<option value="popular" selected>Popular</option>
					{% else %}
					<option value="popular">Popular</option>
					{% endif %}
				</select>
			</div>
			<div class="col-1">
				<button class="btn btn-secondary" type="submit">Search</button>
			</div>
		</div>
	</form>
</div>
<br>
{% endmacro draw_search_box %}

{% macro draw_post_full(id, name, text, image, link, uploader_id, uploader_name, likes, dislikes, is_logged_in=false,
has_liked=false, has_disliked=false, jwt="") %}
<script>
	var had_disliked = {{ has_disliked }};
	var had_liked = {{ has_liked }};

	function onLike() {
		options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ id }}/like/', options)
			.then(response => response.json())
			.then(data => {
				document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML[0]) + 1 + "👍"
				document.getElementById('likes').classList.add("disabled")
				document.getElementById('likedradiobtn').checked = true
				had_liked = true
				if (had_disliked) {
					document.getElementById('dislikes').innerHTML = Number(document.getElementById('dislikes').innerHTML[0]) - 1 + "👎"
					document.getElementById('dislikes').classList.remove("disabled")
					had_disliked = false
					document.getElementById('dislikedradiobtn').checked = false
				}
			})
			.catch(error => console.error(error))
	}

	function onDislike() {
		const options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ id }}/dislike/', options)
			.then(response => response.json())
			.then(data => {
				document.getElementById('dislikes').innerHTML = Number(document.getElementById('dislikes').innerHTML[0]) + 1 + "👎"
				document.getElementById('dislikes').classList.add("disabled")
				document.getElementById('dislikedradiobtn').checked = true
				had_disliked = true
				if (had_liked) {
					document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML[0]) - 1 + "👍"
					document.getElementById('likes').classList.remove("disabled")
					document.getElementById('likedradiobtn').checked = false
					had_liked = false
				}
			})
			.catch(error => console.error(error))
	}
</script>
<div class="row align-items-md-stretch">
	<div class="col-md-6 card card-body">
		<h2 class="card-text" style="text-align: center">{{ name | striptags }} </h2>
		<h5>
			<a href="/user/{{ uploader_id }}" class="card-subtitle text-muted">{{ uploader_name | striptags }}</a>
		</h5>
		<div class="ratio ratio-16x9">
			<img src="{{ image }}" class="card-img-top">
		</div>
	</div>
	<div class="col-md-6 card card-body h-grid gap-2">
		{% if has_liked %}
		<div class="btn-group container">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off" checked="true"
				onclick="onLike()">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ likes }}👍</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off"
				onclick="onDislike()">
			<label class="btn btn-outline-primary" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
		</div>
		{% elif has_disliked %}
		<div class="btn-group container">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off"
				onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ likes
				}}👍</label>
			<input type="radio" class="btn-check" name=" btnradio" id="dislikedradiobtn" checked="true"
				autocomplete="off" onclick="onDislike()">
			<label class="btn btn-outline-primary disabled" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
		</div>
		{% elif is_logged_in %}
		<div class="btn-group container">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off"
				onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ likes }}👍
			</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off"
				onclick="onDislike()">
			<label class="btn btn-outline-primary" for="dislikedradiobtn" id="dislikes">{{ dislikes }}👎
			</label>
		</div>
		{% else %}
		<div class="btn-group container">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ likes }}👍</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
		</div>
		{% endif %}
		<div class="btn-group container">
			<a href="{{ link }}" class="nav-link btn btn-lrg btn-success" download>
				<button type="button" class="btn">Download</button>
			</a>
		</div>
		<div class="container-fluid">
			<h5 class="card-text">
				{{ text | striptags | linebreaksbr | safe }}
			</h5>
		</div>
	</div>
</div>
{% endmacro draw_post_full %}