{% macro draw_embed(title="DIVA Mod Archive", description="", image="", author="DIVA Mod Archive") %}
<title>{{ title }} - DIVA Mod Archive</title>
<meta property="og:title" content="{{ title }} - {{ author }}">
{% if description != "" %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if image != "" %}
<meta property="og:image" content="{{ image }}">
<meta name="twitter:card" content="summary_large_image">
{% endif %}
<meta property="og:site_name" content="DIVA Mod Archive">

<style>
	@media (min-width: 768px) {
		.text-align-right-md {
			text-align: right;
		}
	}

	.text-align-right {
		text-align: right;
	}
</style>

{% endmacro draw_embed %}

{% macro draw_post_short(id, name, text_short, image, likes=-1, dislikes=-1, downloads=-1, draw_remove=false,
game_tag="MM+", type_tag="Other") %}
<div class="col">
	<div class="card shadow-sm">
		<a class="" title="{{ text_short | striptags }}" style="text-decoration: none;" href="/posts/{{ id }}">
			<div class="card-img-top ratio ratio-16x9 bg-black" loading="lazy">
				<img src="{{ image }}" style="object-fit: contain;" width="100%" alt="{{ text_short | striptags }}" loading="lazy">
			</div>
			<div class="card-body">
				<h4 class="text">{{ name | striptags | truncate(length=15) }}</h4>
				<div class="row">
					{% if likes != -1 %}
					<h7 class="col-md-7 text">{{ likes }}👍{{ dislikes }}👎<br>Downloads: {{ downloads }}</h7>
					{% elif downloads != -1 %}
					<h7 class="col-md-7 text">Downloads: {{ downloads }}</h7>
					{% endif %}
					<h7 class="col-md-5 text text-align-right-md">
						{{ type_tag }}
					</h7>
				</div>
			</div>
		</a>
		{% if draw_remove != false %}
		<a href="{{ draw_remove }}" class="{{ self::btn_danger_outer() }}">
			<button type="button" class="{{ self::btn_inner() }}">Remove</button>
		</a>
		{% endif %}
	</div>
</div>
{% endmacro draw_post_short %}

{% macro draw_buttons(current_offset, draw_forward) %}
<div class="d-flex justify-content-evenly">
	{% if current_offset != 0 %}
	<a class="nav-link" href="?offset={{ current_offset - 30 }}">
		<button class="btn btn-lg btn-secondary" type="button">Previous</button>
	</a>
	{% endif %}
	{% if draw_forward %}
	<a class="nav-link" href="?offset={{ current_offset + 30 }}">
		<button class="btn btn-lg btn-secondary" type="button">Next</button>
	</a>
	{% endif %}
</div>
{% endmacro draw_buttons %}

{% macro draw_search_box(previous_title=false, previous_sort="latest", previous_game_tag=0) %}
<br>
<div style="display: flex; justify-content: center;">
	<form class="nav">
		<div class="row row-cols-2 row-cols-md-4">
			{% if previous_title != false %}
			<div class="col flex-md-grow-1">
				<input class="form-control" type="text" placeholder="Search" name="name" autocomplete="off"
					value="{{ previous_title }}">
			</div>
			{% endif %}
			<div class="col flex-md-grow-1">
				<select name="order" class="form-control" selected="{{ previous_sort }}">
					<option value="latest">Latest</option>
					{% if previous_sort == "popular" %}
					<option value="popular" selected>Popular</option>
					{% else %}
					<option value="popular">Popular</option>
					{% endif %}
				</select>
			</div>
			{% if previous_game_tag != -1 %}
			<div class="col flex-md-grow-1">
				<select class="form-control" id="game_tag" name="game_tag">
					{% for game_tag in game_tags %}
					<option value="{{ game_tag.id }}" {% if game_tag.id==previous_game_tag %}selected{% endif %}>
						{{ game_tag.name }}</option>
					{% endfor %}
				</select>
			</div>
			{% endif %}
			<div class="col-1">
				<button class="btn btn-secondary" type="submit">Search</button>
			</div>
		</div>
	</form>
</div>
<br>
{% endmacro draw_search_box %}

{% macro btn_success_outer() %}
btn btn-sm btn-outline-success btn-success
{% endmacro %}

{% macro btn_info_outer() %}
btn btn-sm btn-outline-info btn-info
{% endmacro %}

{% macro btn_danger_outer() %}
btn btn-sm btn-outline-danger btn-danger
{% endmacro %}

{% macro btn_inner() %}
btn text-light
{% endmacro %}

{% macro draw_post_full(id, name, text, image, link, last_updated, uploader_id, uploader_name, likes, dislikes,
downloads, dependencies, is_logged_in=false, has_liked=false, has_disliked=false, jwt="", who_is_logged_in=0,
extra_images) %}
<script>
	var had_disliked = {{ has_disliked }};
	var had_liked = {{ has_liked }};

	function onLike() {
		options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ id }}/like/', options)
			.then(response => response.json())
			.then(data => {
				document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML[0]) + 1 + "👍"
				document.getElementById('likes').classList.add("disabled")
				document.getElementById('likedradiobtn').checked = true
				had_liked = true
				if (had_disliked) {
					document.getElementById('dislikes').innerHTML = Number(document.getElementById('dislikes').innerHTML[0]) - 1 + "👎"
					document.getElementById('dislikes').classList.remove("disabled")
					had_disliked = false
					document.getElementById('dislikedradiobtn').checked = false
				}
			})
			.catch(error => console.error(error))
	}

	function onDislike() {
		const options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ id }}/dislike/', options)
			.then(response => response.json())
			.then(data => {
				document.getElementById('dislikes').innerHTML = Number(document.getElementById('dislikes').innerHTML[0]) + 1 + "👎"
				document.getElementById('dislikes').classList.add("disabled")
				document.getElementById('dislikedradiobtn').checked = true
				had_disliked = true
				if (had_liked) {
					document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML[0]) - 1 + "👍"
					document.getElementById('likes').classList.remove("disabled")
					document.getElementById('likedradiobtn').checked = false
					had_liked = false
				}
			})
			.catch(error => console.error(error))
	}

	function deletePost() {
		const options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch("/api/v1/posts/{{ id }}/delete/", options)
			.then(response => {
				window.location.href = "/"
			})
			.catch(error => console.error(error))
	}
</script>
<div class="row align-items-md-stretch gap-3">
	<div class="col-md-7 card card-body">
		<h2 class="text card-title" style="text-align: center">{{ name | striptags }} </h2>
		<div class="row d-flex align-items-center">
			<div class="col-md">
				<h5>
					<a href=" /user/{{ uploader_id }}" class="card-subtitle text">{{uploader_name | striptags }}</a>
				</h5>
			</div>
			<div class="col-md">
				<h5 class="card-subtitle text-align-right-md text">Downloads: {{ downloads }}</h5>
			</div>
			<h5 class="card-subtitle text">Last updated: {{ last_updated | date }}</h5>
		</div>
		<a href="{{ image }}" target="_blank" class="ratio ratio-16x9 bg-black">
			<img src="{{ image }}" style="object-fit: contain;" class="card-img-top" loading="lazy" alt="Preview of {{ name }}">
		</a>
	</div>
	<div class="col-md-3 card card-body gap-3">
		<div class="btn-group">
			{% if has_liked %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off" checked="true"
				onclick="onLike()">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ likes }}👍</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off"
				onclick="onDislike()">
			<label class="btn btn-outline-primary" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
			{% elif has_disliked %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off"
				onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ likes
				}}👍</label>
			<input type="radio" class="btn-check" name=" btnradio" id="dislikedradiobtn" checked="true"
				autocomplete="off" onclick="onDislike()">
			<label class="btn btn-outline-primary disabled" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
			{% elif is_logged_in %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off"
				onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ likes }}👍
			</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off"
				onclick="onDislike()">
			<label class="btn btn-outline-primary" for="dislikedradiobtn" id="dislikes">{{ dislikes }}👎
			</label>
			{% else %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ likes }}👍</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="dislikedradiobtn" id="dislikes">{{ dislikes
				}}👎</label>
			{% endif %}
		</div>
		<a href="{{ link }}" class="{{ self::btn_success_outer() }}" download>
			<button type="button" class="{{ self::btn_inner() }}">Download</button>
		</a>
		{% if who_is_logged_in == uploader_id %}
		<a href="/posts/{{ id }}/edit" class="{{ self::btn_info_outer() }}">
			<button type="button" class="{{ self::btn_inner() }}">Edit</button>
		</a>
		<a href="/posts/{{ id }}/dependency" class="{{ self::btn_info_outer() }}">
			<button type="button" class="{{ self::btn_inner() }}">Add dependency</button>
		</a>
		<div class="{{ self::btn_danger_outer() }}" onclick="deletePost()">
			<button type="button" class="{{ self::btn_inner() }}">Delete</button>
		</div>
		{% endif %}
		{% if is_logged_in == true and who_is_logged_in != uploader_id %}
		<a href="/posts/{{ id }}/report" class="{{ self::btn_info_outer() }}">
			<button type="button" class="{{ self::btn_inner() }}">Report</button>
		</a>
		{% endif %}
	</div>
	<div class="card card-body text">
		{{ text | striptags | linebreaksbr | safe }}
	</div>
	{% if dependencies | length > 0 %}
	<div class="card card-body">
		<h4>This mod requires: </h4>
		<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
			{% for post in dependencies %}
			{% if who_is_logged_in == uploader_id %}
			{% set draw_remove = "/posts/" ~ id ~ "/dependency/" ~ post.id ~ "/remove" %}
			{% else %}
			{% set draw_remove = false %}
			{% endif %}
			{% set game_tag = game_tags | filter(attribute="id", value=post.game_tag) | first %}
			{% set type_tag = type_tags | filter(attribute="id", value=post.type_tag) | first %}
			{{ posts::draw_post_short(id=post.id, name=post.name, text_short=post.text_short, image=post.image,
			likes=post.likes, dislikes=post.dislikes, downloads=post.downloads, draw_remove=draw_remove,
			game_tag=game_tag.name, type_tag=type_tag.name) }}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if extra_images | length > 0 %}
	<div class="card card-body">
		<h4>Additional screenshots:</h4>
		<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
			{% for image in extra_images %}
			<div class="col">
				<div class="card shadow-sm">
					<a href="{{ image }}" target="_blank" class="card-img-top ratio ratio-16x9 bg-black">
						<img src="{{ image }}" style="object-fit: contain;" width="100%" loading="lazy" alt="Preview of {{ name }}">
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
{% endmacro draw_post_full %}