{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% call base::draw_embed("", "{{ post.name }}", "") %}
{% endblock head %}

{% block content %}
{% if let Some(jwt) = jwt %}
{% if let Some(user) = user %}
<script>
	var liked = {{ has_liked }};

	function onLike() {
		if (liked) {
			document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML.slice(0, -2)) - 1 + "👍";
			document.getElementById('likedradiobtn').checked = false;
			liked = false;
		} else {
			document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML.slice(0, -2)) + 1 + "👍";
			document.getElementById('likedradiobtn').checked = true;
			liked = true;
		}

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ post.id }}/like', options).catch(error => console.error(error));
	}

	{% if is_author || user.is_admin(config) %}
	function deletePost() {
		var options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch("/api/v1/posts/{{ post.id }}/delete/", options)
			.then(response => {
				window.location.href = "/"
			})
			.catch(error => console.error(error))
	}

	async function addAuthor() {
		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: document.getElementById("authorId").value,
		};

		var res = await fetch("/api/v1/posts/{{ post.id }}/author", options);
		if (res.status == 404) {
			document.getElementById("authorTxt").innerText = "Could not find author, have they logged into DMA before?";
			return;
		} else if (!res.ok) {
			document.getElementById("authorTxt").innerText = "Could not add author";
			return;
		}

		var user = await res.json();
		var h5 = document.createElement("h5");
		h5.innerHTML = `<a href="/user/${user.id}" class="card-subtitle text">${user.name}</a>`;
		document.getElementById("authors").append(h5);

		document.getElementById("authorTxt").innerText = `Sucessfully added author ${user.name}`;
	}
	{% endif %}

	async function submitComment(text, parent) {
		var data = {
			'text': text,
		}
		if (parent != -1) {
			data.parent = parent;
		}

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify(data),
		};

		await fetch('/api/v1/posts/{{ post.id }}/comment', options).catch(error => console.error(error));

		document.getElementById("startCommentButton" + parent).hidden = true;
		var d = new Date();
		var date = d.getUTCFullYear() + "-" + (d.getUTCMonth() + 1).toString().padStart(2, '0') + "-" + d.getUTCDate();
		document.getElementById("submitCommentButton" + parent).outerHTML = '<a href="/user/{{ user.id }}" class="card-subtitle text-muted"> {{ user.name }}</a> ' + date;
		document.getElementById("comment_text" + parent).outerHTML = text;
		document.getElementById("newComment" + parent).classList.add("fit");
	}

	{% if let Some(comments) = post.comments %}
	async function deleteComment(id) {
		var options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}

		await fetch("/api/v1/posts/{{ post.id }}/comment/" + id, options).catch(error => console.error(error));

		document.getElementById("comment" + id).hidden = true;

		var minDepth = 0;
		var deletingChildren = false;
		{% for (depth, comment) in comments.iter() %}
		if (deletingChildren && {{ depth }} <= minDepth) {
			deletingChildren = false;
		} else if (deletingChildren) {
			document.getElementById("comment" + {{ comment.id }}).hidden = true;
		} else if ({{ comment.id }} == id) {
			minDepth = {{ depth }};
			deletingChildren = true;
		}
		{% endfor %}
	}
	{% endif %}
</script>
{% endif %}
{% endif %}

{% for (i, image) in post.images.iter().enumerate() %}
<div class="modal modal-xl fade" id="imgModal{{ i }}" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered ratio ratio-16x9">
		<img src="{{ image }}" class="flat-image" loading="lazy" alt="Preview of {{ post.name }}">
	</div>
</div>
{% endfor %}

<div class="row align-items-md-stretch gap-3">
	<div class="col-md-7 card card-body">
		<h2 class="text card-title" style="text-align: center">{{ post.name }} </h2>
		<div class="row d-flex align-items-center">
			<div class="col-md" id="authors">
				{% for author in post.authors %}
				<h5>
					<a href=" /user/{{ author.id }}" class="card-subtitle text">{{ author.name }}</a>
				</h5>
				{% endfor %}
			</div>
			<div class="col-md">
				<h5 class="card-subtitle text-align-right-md text">Downloads: {{ post.download_count }}</h5>
			</div>
			<h5 class="card-subtitle text">Last updated: {{ post.time.date() }}</h5>
		</div>
		<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for (i, image) in post.images.iter().enumerate() %}
				<div class="carousel-item {% if i == 0 %}active{% endif %}">
					<button type="button" class="ratio ratio-16x9 bg-clear border-none" data-bs-toggle="modal"
						data-bs-target="#imgModal{{ i }}">
						<img src="{{ image }}" class="card-img-top flat-image" loading="lazy"
							alt="Preview of {{ post.name }}">
					</button>
				</div>
				{% endfor %}
			</div>
			{% if post.images.len() > 1 %}
			<button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			{% endif %}
		</div>
	</div>
	<div class="col-md-3 card card-body gap-3">
		<div class="btn-group">
			{% if let Some(user) = user %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off" {% if has_liked
				%} checked="true" {% endif %} onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ post.like_count }}👍</label>
			{% else %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ post.like_count
				}}👍</label>
			{% endif %}
		</div>
		<a href="/api/v1/posts/{{ post.id }}/download" class="btn btn-sm btn-outline-success btn-success">
			<button type="button" class="btn text-light">Download</button>
		</a>
		<a href="divamodmanager:dma/{{ post.id }}" class="btn btn-sm btn-outline-info btn-info">
			<button type="button" class="btn text-light">One Click Install</button>
		</a>
		{% if let Some(user) = user %}
		{% if is_author %}
		<a href="/post/{{ post.id }}/edit" class="btn btn-sm btn-outline-warning btn-warning">
			<button type="button" class="btn text-light">Edit</button>
		</a>
		<a href="/post/{{ post.id }}/dependency" class="btn btn-sm btn-outline-warning btn-warning">
			<button type="button" class="btn text-light">Add dependency</button>
		</a>
		<div class="btn btn-sm btn-outline-warning btn-warning">
			<button class="btn text-light" type="button" data-bs-toggle="collapse" data-bs-target="#authorAdd"
				aria-expanded="false" aria-controls="authorAdd">Add author</button>
		</div>
		<div class="collapse collapse" id="authorAdd">
			<div class="card card-body">
				<p id="authorTxt">
					Any authors get full access to editing this mod.<br>
					They cannot be removed without contacting the admins.<br>
				</p>
				<input class="form-control" id="authorId" type="text" autocomplete="off" placeholder="Discord ID">
				<div class="btn btn-sm btn-outline-danger btn-danger" onclick="addAuthor()">
					<button type="button" class="btn text-light">Confirm</button>
				</div>
			</div>
		</div>
		{% else %}
		<a href="/post/{{ post.id }}/report" class="btn btn-sm btn-outline-danger btn-danger">
			<button type="button" class="btn text-light">Report</button>
		</a>
		{% endif %}
		{% if is_author || user.is_admin(config) %}
		<div class="btn btn-sm btn-outline-danger btn-danger" onclick="deletePost()">
			<button type="button" class="btn text-light">Delete</button>
		</div>
		{% endif %}
		{% endif %}
	</div>

	<div class="card card-body text">
		{{ post.text }}
	</div>

	{% if post.images.len() > 1 %}
	<div class="card card-body">
		<h4>Screenshots:</h4>
		<div class="row row-cols-2 row-cols-lg-4 gy-3">
			{% for (i, image) in post.images.iter().enumerate() %}
			<div class="col">
				<button type="button" class="ratio ratio-16x9 bg-clear border-none" data-bs-toggle="modal"
					data-bs-target="#imgModal{{ i }}">
					<img src="{{ image }}" class="card-img-top flat-image" loading="lazy"
						alt="Preview of {{ post.name }}">
				</button>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if let Some(dependencies) = post.dependencies %}
	{% if dependencies.len() > 0 %}
	<div class="card card-body">
		<h4>This mod requires: </h4>
		{% call post_helpers::draw_post_list(dependencies) %}
	</div>
	{% endif %}
	{% endif %}

	{% if let Some(user) = user %}
	<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#commentInput-1"
		aria-expanded="false" aria-controls="commentInput-1" id="startCommentButton-1">Comment</button>
	<div class="collapse row g-1 m-0" id="commentInput-1">
		<div class="col-small me-1">
			<div class="card line"></div>
		</div>
		<div class="col row g-1">
			<div class="row-cols-1 card p-0" id="newComment-1">
				<div class="card-body card-text text p-2">
					<textarea class="form-control" id="comment_text-1" rows="3"></textarea>
				</div>
				<div class="card-footer text-muted p-2">
					<button class="btn btn-sm btn-primary" type="button" id="submitCommentButton-1"
						onclick="submitComment(document.getElementById('comment_text-1').value, -1)">Submit
						comment</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if let Some(comments) = post.comments %}
	{% for (depth, comment) in comments.iter() %}
	<div class="row g-1 m-0" id="comment{{ comment.id }}">
		{% for _ in 0..=depth %}
		<div class="col-small me-1">
			<div class="card line"></div>
		</div>
		{% endfor %}
		<div class="col row g-1">
			<div class="row-cols-1 card p-0 fit" id="{{ comment.id }}">
				<div class="card-body card-text text p-2">
					{{ comment.text }}
				</div>
				<div class="card-footer text-muted p-2">
					<a href="/user/{{ comment.user.id }}" class="card-subtitle text-muted">{{ comment.user.name }}</a>
					{{ comment.time.date() }}
					{% if let Some(user) = user %}
					<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
						data-bs-target="#commentInput{{comment.id}}" aria-expanded="false"
						aria-controls="commentInput{{comment.id}}" id="startCommentButton{{comment.id}}">Reply</button>
					{% if user.id == comment.user.id || user.is_admin(config) %}
					<button class="btn btn-sm btn-danger" type="button"
						onclick="deleteComment({{ comment.id }})">Delete</button>
					{% endif %}
					{% endif %}
				</div>
			</div>
			{% if let Some(user) = user %}
			<div class="collapse row g-1 m-0" id="commentInput{{comment.id}}">
				<div class="col-small me-1">
					<div class="card line"></div>
				</div>
				<div class="col row g-1">
					<div class="row-cols-1 card p-0" id="newComment{{comment.id}}">
						<div class="card-body card-text text p-2">
							<textarea class="form-control" id="comment_text{{comment.id}}" rows="3"></textarea>
						</div>
						<div class="card-footer text-muted p-2">
							<button class="btn btn-sm btn-primary" type="button" id="submitCommentButton{{comment.id}}"
								onclick="submitComment(document.getElementById('comment_text{{comment.id}}').value, {{comment.id}})">Submit
								reply</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div><br>

{% endblock content %}
