{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% endblock head %}

{% block content %}
<script>
	function levelToString(level) {
		switch (level) {
			case "PV_LV_00_0": return "0";
			case "PV_LV_00_5": return "0.5";
			case "PV_LV_01_0": return "1";
			case "PV_LV_01_5": return "1.5";
			case "PV_LV_02_0": return "2";
			case "PV_LV_02_5": return "2.5";
			case "PV_LV_03_0": return "3";
			case "PV_LV_03_5": return "3.5";
			case "PV_LV_04_0": return "4";
			case "PV_LV_04_5": return "4.5";
			case "PV_LV_05_0": return "5";
			case "PV_LV_05_5": return "5.5";
			case "PV_LV_06_0": return "6";
			case "PV_LV_06_5": return "6.5";
			case "PV_LV_07_0": return "7";
			case "PV_LV_07_5": return "7.5";
			case "PV_LV_08_0": return "8";
			case "PV_LV_08_5": return "8.5";
			case "PV_LV_09_0": return "9";
			case "PV_LV_09_5": return "9.5";
			case "PV_LV_10_0": return "10";
			default: return "";
		}
	}

	function someOrNA(data) {
		if (data == null) {
			return "";
		} else {
			return data;
		}
	}

	function getPostHtml(pv) {
		var tr = document.createElement('tr');
		tr.classList = [document.getElementById("pvs").children.length % 2 == 0 ? 'table-light' : 'table-dark'];
		tr.innerHTML = `
			<td>${pv.name_en}</td>
			<td>${pv.name}</td>
			<td>${pv.id}</td>
			<td>${pv.post == null ? 'MM+' : pv.post.name}</td>
		`;
		tr.role = "button";
		tr.setAttribute("data-bs-toggle", "offcanvas");
		tr.setAttribute("data-bs-target", `#offcanvas${pv.uid}`);

		document.getElementById("pvs").append(tr);

		var showMusic = (pv.song_info_en != null && pv.song_info_en.music != null && pv.song_info_en.music != '') || (pv.song_info != null && pv.song_info.music != null && pv.song_info.music != '');
		var showLyrics = (pv.song_info_en != null && pv.song_info_en.lyrics != null && pv.song_info_en.lyrics != '') || (pv.song_info != null && pv.song_info.lyrics != null && pv.song_info.lyrics != '');
		var showArranger = (pv.song_info_en != null && pv.song_info_en.arranger != null && pv.song_info_en.arranger != '') || (pv.song_info != null && pv.song_info.arranger != null && pv.song_info.arranger != '');
		var showManipulator = (pv.song_info_en != null && pv.song_info_en.manipulator != null && pv.song_info_en.manipulator != '') || (pv.song_info != null && pv.song_info.manipulator != null && pv.song_info.manipulator != '');
		var showEditor = (pv.song_info_en != null && pv.song_info_en.pv_editor != null && pv.song_info_en.pv_editor != '') || (pv.song_info != null && pv.song_info.pv_editor != null && pv.song_info.pv_editor != '');
		var showGuitar = (pv.song_info_en != null && pv.song_info_en.guitar_player != null && pv.song_info_en.guitar_player != '') || (pv.song_info != null && pv.song_info.guitar_player != null && pv.song_info.guitar_player != '');

		var maxLen = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar;
		if (maxLen < 5) maxLen = 5;

		var div = document.createElement('div');
		div.classList = ['offcanvas offcanvas-start'];
		div.id = `offcanvas${pv.uid}`
		div.tabIndex = -1;
		div.style = "width: var(--bs-offcanvas-width) * 1.5";

		var html = `<table class="table">
<thead>
	<th>Name (EN)</th>
	<th>Name (JP)</th>
	<th>ID</th>
	<th>Source</th>
		`;

		for (var i = 4; i < maxLen; i++) {
			html += '<th />';
		}

		html += `
</thead>
<tbody>
	<tr class="table-dark">
		<td>${pv.name_en}</td>
		<td>${pv.name}</td>
		<td>${pv.id}</td>
		<td>
		`;

		if (pv.post != null) {
			html += `<a href="/post/${pv.post.id}" class="nav-link">${pv.post.name}</a>`;
		} else {
			html += 'MM+';
		}

		html += '</td>';

		for (var i = 4; i < maxLen; i++) {
			html += '<td />';
		}

		html += `
	</tr>
</tbody>
		`;

		if (showMusic || showLyrics || showArranger || showManipulator || showEditor || showGuitar) {
			html += '<thead>';

			if (showMusic) html += '<th>Music</th>';
			if (showLyrics) html += '<th>Lyrics</th>';
			if (showArranger) html += '<th>Arranger</th>';
			if (showManipulator) html += '<th>Manipulator</th>';
			if (showEditor) html += '<th>PV Editor</th>';
			if (showGuitar) html += '<th>Guitar</th>';

			for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
				html += '<th />';
			}

			html += '</thead><tbody>';

			if (pv.song_info_en != null) {
				html += '<tr class="table-dark">';

				if (showMusic) html += `<td>${someOrNA(pv.song_info_en.music)}</td>`;
				if (showLyrics) html += `<td>${someOrNA(pv.song_info_en.lyrics)}</td>`;
				if (showArranger) html += `<td>${someOrNA(pv.song_info_en.arranger)}</td>`;
				if (showManipulator) html += `<td>${someOrNA(pv.song_info_en.manipulator)}</td>`;
				if (showEditor) html += `<td>${someOrNA(pv.song_info_en.pv_editor)}</td>`;
				if (showGuitar) html += `<td>${someOrNA(pv.song_info_en.guitar_player)}</td>`;

				for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
					html += '<td />';
				}

				html += '</tr>';
			}

			if (pv.song_info != null) {
				html += '<tr class="table-dark">';

				if (showMusic) html += `<td>${someOrNA(pv.song_info.music)}</td>`;
				if (showLyrics) html += `<td>${someOrNA(pv.song_info.lyrics)}</td>`;
				if (showArranger) html += `<td>${someOrNA(pv.song_info.arranger)}</td>`;
				if (showManipulator) html += `<td>${someOrNA(pv.song_info.manipulator)}</td>`;
				if (showEditor) html += `<td>${someOrNA(pv.song_info.pv_editor)}</td>`;
				if (showGuitar) html += `<td>${someOrNA(pv.song_info.guitar_player)}</td>`;

				for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
					html += '<td />';
				}
				html += '<tr />';
			}

			html += '</tbody>';
		}

		html += `
<thead>
	<th>Easy</th>
	<th>Normal</th>
	<th>Hard</th>
	<th>Extreme</th>
	<th>Extra Extreme</th>
		`;

		for (var i = 5; i < maxLen; i++) {
			html += '<th />';
		}

		html += `
</thead>
<tbody class="table-dark">
	<td style="${pv.levels[0] != null ? 'background-color: var(--diva-easy)' : ''}">${levelToString(pv.levels[0])}${pv.levels[0] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
	<td style="${pv.levels[1] != null ? 'background-color: var(--diva-normal)' : ''}">${levelToString(pv.levels[1])}${pv.levels[1] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
	<td style="${pv.levels[2] != null ? 'background-color: var(--diva-hard)' : ''}">${levelToString(pv.levels[2])}${pv.levels[2] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
	<td style="${pv.levels[3] != null ? 'background-color: var(--diva-extreme)' : ''}">${levelToString(pv.levels[3])}${pv.levels[3] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
	<td style="${pv.levels[4] != null ? 'background-color: var(--diva-exex)' : ''}">${levelToString(pv.levels[4])}${pv.levels[4] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
		`;

		for (var i = 5; i < maxLen; i++) {
			html += '<td />';
		}

		html += `</tr></table>`;

		div.innerHTML = html;

		document.getElementById("offcanvasList").append(div);
	}

	async function search(query, offset) {
		var params = new URLSearchParams();
		if (query != null) params.append("query", query);
		if (offset != null) params.append("offset", offset);
		params.append("limit", "40");
		var options = {
			method: 'GET',
		}

		return await fetch("http://0.0.0.0:7001/api/v1/ids/pvs?" + params.toString(), options).then(req => req.json());
	}

	async function loadMore() {
		document.getElementById("loadMore").hidden = true;

		var pvs = await search(document.getElementById("searchQuery").value, document.getElementById("pvs").children.length);
		for (var pv of pvs) {
			getPostHtml(pv);
		}

		if (document.getElementById("pvs").children.length % 40 == 0 && document.getElementById("pvs").children.length != 0) {
			document.getElementById("loadMore").hidden = false;
		}
	}

	async function newLoad() {
		document.getElementById("pvs").innerHTML = "";
		document.getElementById("offcanvasList").innerHTML = "";
		loadMore();
	}
</script>
<div style="display: flex; justify-content: center;">
	<input onchange="newLoad()" class="form-control list-text" type="text" placeholder="Search" name="query" id="searchQuery" autocomplete="off">
</div>
<div id="offcanvasList">
	{% for pv in pvs.iter() %}

	{% let cols -%}
	{% if pv.song_info_count() == 6 -%}
	{% let cols = 6 -%}
	{% else -%}
	{% let cols = 5 -%}
	{% endif -%}
	<div class="offcanvas offcanvas-start" id="offcanvas{{ pv.uid }}" tabindex="-1" style="width: var(--bs-offcanvas-width) * 1.5">
		<table class="table">
			<thead>
				<th>Name (EN)</th>
				<th>Name (JP)</th>
				<th>ID</th>
				<th>Source</th>
				{% for _ in 4..cols %}
					<th />
				{% endfor %}
			</thead>
			<tbody>
				<tr class="table-dark">
					<td>{{ pv.name_en }}</td>
					<td>{{ pv.name }}</td>
					<td>{{ pv.id }}</td>
					<td>
					{% if let Some(post) = pv.post %}
						<a href="/post/{{ post.id }}" class="nav-link">{{ post.name }}</a>
					{% else %}
						MM+
					{% endif %}
					</td>
					{% for _ in 4..cols %}
						<td />
					{% endfor %}
				</tr>
			</tbody>

			{% if pv.song_info_count() != 0 %}
			<thead>
				{% if pv.has_music() %}
					<th>Music</th>
				{% endif %}
				{% if pv.has_lyrics() %}
					<th>Lyrics</th>
				{% endif %}
				{% if pv.has_arranger() %}
					<th>Arranger</th>
				{% endif %}
				{% if pv.has_manipulator() %}
					<th>Manipulator</th>
				{% endif %}
				{% if pv.has_editor() %}
					<th>Editor</th>
				{% endif %}
				{% if pv.has_guitar() %}
					<th>Guitar</th>
				{% endif %}
				{% for _ in pv.song_info_count()..cols %}
					<th />
				{% endfor %}
			</thead>
			<tbody>
				{% if let Some(song_info) = pv.song_info_en %}
				<tr class="table-dark">
					{% if pv.has_music() %}
						<td>{% if let Some(music) = song_info.music %}{{ music }}{% endif %}</td>
					{% endif %}
					{% if pv.has_lyrics() %}
						<td>{% if let Some(lyrics) = song_info.lyrics %}{{ lyrics }}{% endif %}</td>
					{% endif %}
					{% if pv.has_arranger() %}
						<td>{% if let Some(arranger) = song_info.arranger %}{{ arranger }}{% endif %}</td>
					{% endif %}
					{% if pv.has_manipulator() %}
						<td>{% if let Some(manipulator) = song_info.manipulator %}{{ manipulator }}{% endif %}</td>
					{% endif %}
					{% if pv.has_editor() %}
						<td>{% if let Some(pv_editor) = song_info.pv_editor %}{{ pv_editor }}{% endif %}</td>
					{% endif %}
					{% if pv.has_guitar() %}
						<td>{% if let Some(guitar_player) = song_info.guitar_player %}{{ guitar_player }}{% endif %}</td>
					{% endif %}
					{% for _ in pv.song_info_count()..cols %}
						<td />
					{% endfor %}
				</tr>
				{% endif %}

				{% if let Some(song_info) = pv.song_info %}
				<tr class="table-dark">
					{% if pv.has_music() %}
						<td>{% if let Some(music) = song_info.music %}{{ music }}{% endif %}</td>
					{% endif %}
					{% if pv.has_lyrics() %}
						<td>{% if let Some(lyrics) = song_info.lyrics %}{{ lyrics }}{% endif %}</td>
					{% endif %}
					{% if pv.has_arranger() %}
						<td>{% if let Some(arranger) = song_info.arranger %}{{ arranger }}{% endif %}</td>
					{% endif %}
					{% if pv.has_manipulator() %}
						<td>{% if let Some(manipulator) = song_info.manipulator %}{{ manipulator }}{% endif %}</td>
					{% endif %}
					{% if pv.has_editor() %}
						<td>{% if let Some(pv_editor) = song_info.pv_editor %}{{ pv_editor }}{% endif %}</td>
					{% endif %}
					{% if pv.has_guitar() %}
						<td>{% if let Some(guitar_player) = song_info.guitar_player %}{{ guitar_player }}{% endif %}</td>
					{% endif %}
					{% for _ in pv.song_info_count()..cols %}
						<td />
					{% endfor %}
				</tr>
				{% endif %}
			</tbody>
			{% endif %}

			<thead>
				<th>Easy</th>
				<th>Normal</th>
				<th>Hard</th>
				<th>Extreme</th>
				<th>Extra Extreme</th>
				{% for _ in 5..cols %}
					<th />
				{% endfor %}
			</thead>
			<tbody class="table-dark">
				{% for i in 0..5 %}
					{% if let Some(level) = pv.levels[i] %}
					{% let color -%}
					{% if i == 0 -%}
					{% let color = "--diva-easy" -%}
					{% else if i == 1 -%}
					{% let color = "--diva-normal" -%}
					{% else if i == 2 -%}
					{% let color = "--diva-hard" -%}
					{% else if i == 3 -%}
					{% let color = "--diva-extreme" -%}
					{% else if i == 4 -%}
					{% let color = "--diva-exex" -%}
					{% else -%}
					{% let color = "--diva-exex" -%}
					{% endif -%}
					<td style="background-color: var({{ color }})">{{ level.to_string() }}<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span></td>
					{% else %}
					<td />
					{% endif %}
				{% endfor %}
				{% for _ in 5..cols %}
					<td />
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name (EN)</th>
			<th>Name (JP)</th>
			<th>ID</th>
			<th>Source</th>
		</tr>
	</thead>
	<tbody id="pvs">
		{% for (i, pv) in pvs.iter().enumerate() %}
		<tr class="{% if i % 2 == 0 %}table-light{% else %}table-dark{% endif %}" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas{{ pv.uid }}">
			<td>{{ pv.name_en }}</td>
			<td>{{ pv.name }}</td>
			<td>{{ pv.id }}</td>
			<td>{% if let Some(post) = pv.post %}{{ post.name }}{% else %}MM+{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<button class="btn btn-sm btn-primary" type="button" id="loadMore" onClick="loadMore()" {% if pvs.len() < 40 %}hidden{% endif %}>Load more</button>
{% endblock content %}
