{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% call base::draw_embed("", "The latest DIVA mods", "") %}
{% endblock head %}

{% block content %}
<script>
	async function loadMore() {
		document.getElementById("loadMore").hidden = true;

		var posts = await search(null,  "time:desc", null, document.getElementById("posts").children.length);
		for (var post of posts) {
			document.getElementById("posts").append(getPostHtml(post));
		}

		if (document.getElementById("posts").children.length % 40 == 0) {
			document.getElementById("loadMore").hidden = false;
		}
	}
</script>
{% call post_helpers::draw_post_list(posts) %}
<button class="btn btn-sm btn-primary" type="button" id="loadMore" onClick="loadMore()" {% if posts.len() !=40 %}hidden{%
	endif %}>Load more</button>
{% endblock content %}
