{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% call base::draw_embed("", "Search DIVA mods", "") %}
{% endblock head %}

{% block content %}
<script>
	async function newLoad() {
		document.getElementById("posts").innerHTML = "";
		loadMore();
	}

	async function loadMore() {
		document.getElementById("loadMore").hidden = true;

		var posts = await search(document.getElementById("searchQuery").value, document.getElementById("searchSort").value, document.getElementById("searchFilter").value, document.getElementById("posts").children.length);
		for (var post of posts) {
			document.getElementById("posts").append(getPostHtml(post));
		}

		if (document.getElementById("posts").children.length % 40 == 0 && document.getElementById("posts").children.length != 0) {
			document.getElementById("loadMore").hidden = false;
		}
	}
</script>
<div style="display: flex; justify-content: center;">
	<div class="row row-cols-2 row-cols-md-4 gx-3 gy-1">
		<div class="col flex-md-grow-1">
			<input onchange="newLoad()" class="form-control list-text" type="text" placeholder="Search" name="query"
				id="searchQuery" autocomplete="off">
		</div>
		<div class="col flex-md-grow-2">
			<select onchange="newLoad()" name="sort" id="searchSort" class="form-control list-text">
				<option value="time:desc">Newest</option>
				<option value="time:asc">Oldest</option>
				<option value="download_count:desc">Downloads</option>
				<option value="like_count:desc">Likes</option>
			</select>
		</div>
		<div class="col flex-md-grow-2">
			<select onchange="newLoad()" name="filter" id="searchFilter" class="form-control list-text">
				<option value="">Any</option>
				<option value="post_type=Song">Song</option>
				<option value="post_type=Cover">Cover</option>
				<option value="post_type=Module">Module</option>
				<option value="post_type=UI">UI</option>
				<option value="post_type=Plugin">Plugin</option>
				<option value="post_type=Other">Other</option>
			</select>
		</div>
	</div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id="posts">
</div>
<button class="btn btn-sm btn-primary" type="button" id="loadMore" onClick="loadMore()" hidden>Load more</button>
<script>newLoad();</script>
{% endblock content %}
