{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% endblock head %}

{% block content %}
<script>
	{% if let Some(jwt) = base.jwt %}
	async function update() {
		var data = {
			'display_name': document.getElementById("name").value,
			'public_likes': document.getElementById("public_likes").checked,
			'theme': Number(document.getElementById("theme").value),
		};

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify(data)
		}

		await fetch('/api/v1/users/settings', options);

		window.location.href = "/";
	}
	{% endif %}
</script>
<div class="card card-body">
	<h5 class="card-text text">
		<label for="name">Name: </label>
		<input type="text" id="name" name="name" autocomplete="off" value="{{ user.display_name }}">
	</h5>
	<label for="theme">Theme</label>
	<select class="form-control list-text" id="theme" name="theme">
		<option value=0 {% if base.theme() == Theme::Light %}selected{% endif %}>Light</option>
		<option value=1 {% if base.theme() == Theme::Dark %}selected{% endif %}>Dark</option>
	</select>
	<div style="width: 100%; height: 0.5rem"></div>
	<div class="form-check">
		<label class="form-check-label" for="public_likes">Show liked mods publicly?</label>
		<input class="form-check-input" type="checkbox" id="public_likes" autocomplete="off" {% if user.public_likes %}checked=""{% endif %}>
	</div>

	<div class="btn btn-outline-info btn-info" onclick="update()">
		<button type="button" style="box-shadow: none" class="btn {% if base.theme() == Theme::Light %}text-light{% endif %}">Update</button>
	</div>
</div>
{% endblock content %}
