{% extends "base" %}
{% block title %}Upload{% endblock title %}
{% block content %}
<script>
	function fail_upload() {
		alert("Upload failed");
	}

	function upload() {
		var form = document.getElementById("form")

		var image = form['imagePicker']
		var archive = form['filePicker']
		if (image.files.length != 1 || archive.files.length != 1) {
			fail_upload()
			return
		}

		var name = form['title'].value
		var text = form['text'].value
		var text_short = form['text_short'].value
		if (title == "" || text == "" || text_short == "") {
			fail_upload()
			return
		}

		options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: archive.files[0]
		}
		fetch('/api/v1/posts/upload_archive', options)
			.then(response => response.json())
			.then(archive_url => {
				options = {
					method: 'POST',
					headers: {
						'Content-Type': 'text/plain',
						'Authorization': 'Bearer {{ jwt }}'
					},
					body: image.files[0]
				}
				fetch('/api/v1/posts/upload_image', options)
					.then(response => response.json())
					.then(image_url => {
						if (archive_url == null || image_url == null) {
							fail_upload()
						}
						let post_data = {
							'name': name,
							'text': text,
							'text_short': text_short,
							'image': image_url,
							'link': archive_url
						}

						options = {
							method: 'POST',
							headers: {
								'Content-Type': 'text/plain',
								'Authorization': 'Bearer {{ jwt }}'
							},
							body: JSON.stringify(post_data)
						}

						fetch('/api/v1/posts/upload', options)
							.then(response => response.json())
							.then(data => {
								window.location.href = "/posts/" + data['id']
							})
							.catch(error => fail_upload())
					})
					.catch(error => fail_upload())
			})
			.catch(error => fail_upload())
	}
</script>
<form id="form" class="container-fluid row" enctype="application/x-www-form-urlencoded">
	<div class="col-6 card card-body">
		<h2 class="card-text"><label for="title">Title: </label><input type="text" id="title" name="title"></h2>
		<h5>
			<a href="/user/{{ user.id }}" class="card-subtitle text-muted">{{ user.name | striptags }}</a>
		</h5>

		<label for="imagePicker" class="form-label mt-4">Image</label>
		<input class="form-control" accept="image/png" type="file" id="imagePicker">
	</div>
	<div class="col-6 card card-body h-grid gap-2">
		<div class="btn-group container">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">0👍</label>
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="dislikedradiobtn" id="dislikes">0👎</label>
		</div>
		<div class="btn-group container">
			<button type="button" class="btn btn-lrg btn-success" onclick="upload()">Upload</button>
		</div>
		<div class="container">
			<label for="filePicker" class="form-label mt-4">Archive File</label>
			<input class="form-control" accept=".7z,.zip,.rar" type="file" id="filePicker">
		</div>
		<div class="container">
			<h5 class="card-text">
				<label for="text">Long Description</label>
				<textarea class="form-control" id="text" rows="5"></textarea>
				<label for="text_short">Short Description</label>
				<input class="form-control" type="text" id="text_short" name="text_short">
			</h5>
		</div>
	</div>
</form>
{% endblock content %}