{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% call base::draw_embed("Upload", "Upload a DIVA mod", "") %}
<script src="https://cdn.jsdelivr.net/npm/marked@15.0.6/lib/marked.umd.min.js" async></script>
{% endblock head %}

{% block content %}
<script>
	{% if let Some(old_post) = update %}
	function upload_metadata() {
		var form = document.getElementById("form");
		var name = form['title'].value;
		var text = form['text'].value;
		var type_tag = form['type_tag'].value;
		if (title == "" || text == "") {
			alert("Upload failed\nMissing text fields");
			return
		}
		document.getElementById('upload_btn_div').classList.add("disabled");
		document.getElementById('upload_metadata_btn_div').classList.add("disabled");

		let post_data = {
			'id': Number('{{ old_post.id }}'),
			'name': name,
			'text': text,
			'post_type': Number(type_tag),
		}


		options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify(post_data)
		}

		fetch('/api/v1/posts/edit', options)
			.then(() => {
				window.location.href = "/post/" + {{ old_post.id }}
			})
			.catch (error => alert("Unknown error when updating"))
	}
	{% endif %}

	function crash_and_burn(error, message) {
		alert(message + "\n" + error);
		document.getElementById('upload_btn_div').classList.remove("disabled");
		{% if update.is_some() %}
		document.getElementById('upload_metadata_btn_div').classList.remove("disabled");
		{% endif %}
		throw error;
	}

	async function upload() {
		var form = document.getElementById("form");

		var image = form['imagePicker'];
		var archive = form['filePicker'];

		if (image.files.length != 1 || archive.files.length == 0) {
			alert("Upload failed\nMissing image/archive");
			return;
		}

		var name = form['title'].value;
		var text = form['text'].value;
		var type_tag = form['type_tag'].value;

		if (title == "" || text == "") {
			alert("Upload failed\nMissing text fields");
			return
		}

		document.getElementById('upload_btn_div').classList.add("disabled")
		{% if update.is_some() %}
		document.getElementById('upload_metadata_btn_div').classList.add("disabled")
		{% endif %}

		var options = {
			method: 'GET',
			headers: {
				'Content-Type': 'text/plain',
				'Authorization': 'Bearer {{ jwt }}'
			},
		}

		var image_upload_url = await fetch('https://divamodarchive.com/api/v1/posts/upload_image', options)
			.then(response => response.text())
			.catch(error => crash_and_burn(error, "Failed to upload image"));
		if (image_upload_url == null) {
			crash_and_burn("Error:", "Image upload failed");
			return;
		}
		var image_form = new FormData();
		image_form.append('file', image.files[0]);
		options = {
			method: 'POST',
			headers: {
				'Accept': '*/*'
			},
			body: image_form
		}
		var result = await fetch(image_upload_url, options)
			.then(response => response.json())
			.catch(error => crash_and_burn(error, "Failed to upload image"));
		var image_url = result.result.variants[0].replace("/thumbnail", "/public");
		if (image_url == null) {
			crash_and_burn("Error: ", "Image upload failed\nMaximum size for images is 10MiB");
			return
		}
		var image_url = image_url.replace("https://imagedelivery.net/", "https://divamodarchive.com/cdn-cgi/imagedelivery/");

		var images_extra = form['imagesExtra'];
		var images_extra_urls = [];
		for (let i = 0; i < images_extra.files.length; i++) {
			options = {
			method: 'GET',
				headers: {
					'Content-Type': 'text/plain',
					'Authorization': 'Bearer {{ jwt }}'
				}
			}
			var extra_image_upload_url = await fetch('https://divamodarchive.com/api/v1/posts/upload_image', options)
				.then(response => response.text())
				.catch(error => crash_and_burn(error, "Failed to upload image"));
			if (extra_image_upload_url == null) {
				alert("Image upload failed\nMaximum size for images is 10MiB");
				return
			}
			var extra_image_form = new FormData();
			extra_image_form.append('file', images_extra.files[i]);
			options = {
				method: 'POST',
				headers: {
					'Accept': '*/*'
				},
				body: extra_image_form
			}
			var result = await fetch(extra_image_upload_url, options)
				.then(response => response.json())
				.catch(error => crash_and_burn(error, "Failed to upload image"));
			if (result == null) {
				alert("Image upload failed\nMaximum size for images is 10MiB");
				return
			}
			var extra_image_url = result.result.variants[0].replace("/thumbnail", "/public");
			var extra_image_url = extra_image_url.replace("https://imagedelivery.net/", "https://divamodarchive.com/cdn-cgi/imagedelivery/")
			images_extra_urls.push(extra_image_url);
		}

		var files = archive.files;

		var filenames = [];
		var totalSize = 0;
		for (var file of files) {
			filenames.push(file.name);
			totalSize += file.size;
		}

		let post_data = {
			'name': name,
			'text': text,
			'post_type': Number(type_tag),
			'filenames': filenames,
		}
		{% if let Some(old_post) = update %}
		post_data.id = {{ old_post.id }}
		{% endif %}
		post_data.image = image_url;
		post_data.images_extra = images_extra_urls;

		var offset = 0;
		var bytes = [];
		for (var file of files) {
			var data = await file.bytes();
			bytes.push(data);
		}

		var socket = new WebSocket('wss://divamodarchive.com/api/v1/posts/upload');
		var progressBar = document.getElementById('progressBar');
		var completed = 0;
		var index = 0;
		var percentComplete = Math.round((completed / totalSize) * 100);

		socket.addEventListener("open", (event) => {
			socket.send('{{ jwt }}')
			socket.send(JSON.stringify(post_data));
		});

		socket.addEventListener("message", async (event) => {
			if (event.data == "Ready") {
				var data = bytes[index].slice(offset, offset + (1024 * 1024))
				if (data.length == 0) {
					socket.send("Finished");
					index += 1;
					if (index != files.length) offset = 0;
				} else {
					socket.send(data);

					completed += data.length;
					offset += data.length;
					percentComplete = Math.round((completed / totalSize) * 100);
					progressBar.style.width = percentComplete + '%';
				}
			} else {
				socket.close();
				window.location.href = event.data;
			}
		});

		socket.addEventListener("close", async (event) => console.log(event));
		socket.addEventListener("error", async (event) => alert("Websocket error: " + event));
	}

	function descriptionUpdate() {
		if (document.getElementById("btnEdit").checked) {
			document.getElementById("text").hidden = false;
			document.getElementById("descriptionPreview").hidden = true;
		} else {
			document.getElementById("text").hidden = true;
			document.getElementById("descriptionPreview").hidden = false;
			document.getElementById("descriptionPreview").innerHTML = marked.parse(document.getElementById("text").value);
		}
	}
</script>
<form id="form" class="row align-items-md-stretch gap-3" enctype="application/x-www-form-urlencoded">
	<div class="card card-body">
		<h3 class="text">The admins reserve the right to delete your post for ANY reason</h3>
		<p class="text mb-0">
			Common reasons include but are not limited to:
		</p>
		<ul class="mb-0">
			<li class="text">Copyright infringement</li>
			<li class="text">A mod for a game other than Project DIVA Mega Mix+</li>
			<li class="text">NSFW or otherwise explicit content not fit for minors to view</li>
			<li class="text">A plugin mod that does not have public source code linked</li>
			<li class="text">A mod designed to advertise paid content</li>
			<li class="text">Modifications of other peoples content, including SEGAs, that does not mention the original content or how it was modified</li>
			<li class="text">Obviously broken or non-functional mods, such as out of sync songs</li>
		</ul>
	</div>

	<div class="card card-body">
		<h3 class="text">PLEASE NOTE:</h3>
		<p class="text mb-0">
			Images cannot be edited after uploading without reuploading the mod file.<br>
			Make sure all photos and details are correct before pressing upload.
		</p>
	</div>
	<div class="col-md-7 card card-body">

		<h2 class="card-text text"><label for="title">Title: </label><input type="text" id="title" name="title"
				autocomplete="off" {% if let Some(old_post)=update %}value="{{ old_post.name }}" {% endif %}></h2>
		{% if let Some(old_post) = update %}
		{% for author in old_post.authors %}
		<h5><a href="/user/{{ author.id }}" class="card-subtitle text">{{ author.display_name }}</a></h5>
		{% endfor %}
		{% else %}
		<h5><a href="/user/{{ user.id }}" class="card-subtitle text">{{ user.display_name }}</a></h5>
		{% endif %}

		<label for="imagePicker" class="form-label mt-4">Image</label>
		<input class="form-control" accept="image/*" type="file" id="imagePicker">
		<div id="imagePreview" class="card-img-top ratio ratio-16x9 bg-clear border-none" style="display: none;">
			<img id="imagePreviewImg" class="rounded-image" width="100%">
		</div>
		<label for="imagesExtra" class="form-label mt-4">Optional: Extra images</label>
		<input class="form-control" accept="image/*" type="file" id="imagesExtra" multiple>
		<div id="imagesExtraPreview" class="row row-cols-2 row-cols-lg-4 gy-3" style="display: none;">
		</div>
	</div>
	<div class="col-md-3 card card-body gap-3">
		<div class="btn-group">
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			{% if let Some(old_post) = update %}
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ old_post.like_count }}👍</label>
			{% else %}
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">0👍</label>
			{% endif %}
			<input type="radio" class="btn-check" name="btnradio" id="dislikedradiobtn" autocomplete="off">
		</div>
		<div class="btn btn-sm btn-outline-success btn-success" id="upload_btn_div" onclick="upload()">
			<button type="button" id="upload_btn" style="box-shadow: none" class="btn {% if base.theme() == Theme::Light %}text-light{% endif %}">Upload</button>
		</div>
		<div class="progress">
			<div id="progressBar" class="progress-bar bg-success" role="progressbar" style="width: 0%;"></div>
		</div>
		{% if update.is_some() %}
		<div class="btn btn-sm btn-outline-success btn-success" id="upload_metadata_btn_div"
			onclick="upload_metadata()">
			<button type="button" id="upload_metadata_btn" style="box-shadow: none" class="btn {% if base.theme() == Theme::Light %}text-light{% endif %}">Update
				metadata</button>
		</div>
		{% endif %}
		<label for="filePicker" class="form-label mt-4">Mod File</label>
		<input class="form-control" accept=".7z,.zip,.rar" type="file" id="filePicker" multiple>

		<label for="type_tag">Type</label>
		{% if let Some(old_post) = update %}
		<select class="form-control list-text" id="type_tag" name="type_tag">
			<option value="0" {% if PostType::Plugin==old_post.post_type %}selected{% endif %}>Plugin</option>
			<option value="1" {% if PostType::Module==old_post.post_type %}selected{% endif %}>Module</option>
			<option value="2" {% if PostType::Song==old_post.post_type %}selected{% endif %}>Song</option>
			<option value="3" {% if PostType::Cover==old_post.post_type %}selected{% endif %}>Cover</option>
			<option value="4" {% if PostType::Ui==old_post.post_type %}selected{% endif %}>UI</option>
			<option value="5" {% if PostType::Other==old_post.post_type %}selected{% endif %}>Other</option>
		</select>
		{% else %}
		<select class="form-control list-text" id="type_tag" name="type_tag">
			<option value="0">Plugin</option>
			<option value="1">Module</option>
			<option value="2">Song</option>
			<option value="3">Cover</option>
			<option value="4">UI</option>
			<option value="5">Other</option>
		</select>
		{% endif %}
	</div>
	<div class="card card-body">
		<div class="card-text">
			<h5>Description</h5>
			<p>Descriptions are formatted using markdown, <a href="https://www.markdownguide.org/basic-syntax/">Here</a> is a guide that teaches you how to use it.</p>
			<div class="btn-group" role="group">
				<input type="radio" class="btn-check" id="btnEdit" name="description" autocomplete="off" checked="" onchange="descriptionUpdate()">
				<label class="btn btn-outline-primary" for="btnEdit">Edit</label>
				<input type="radio" class="btn-check" id="btnPreview" name="description" autocomplete="off" onchange="descriptionUpdate()">
				<label class="btn btn-outline-primary" for="btnPreview">Preview</label>
			</div>
			<br>
			{% if let Some(old_post) = update %}
			<textarea class="form-control" id="text" rows="5">{{ old_post.text }}</textarea>
			{% else %}
			<textarea class="form-control" id="text" rows="5"></textarea>
			{% endif %}
			<div class="text" hidden="" id="descriptionPreview"></div>
		</div>
	</div>
</form>
<style>
	.drop-target {
		border: 1px dashed #ccc;
	}
</style>
<!--
	Add drop handlers and image previews
-->
<script>
	function addDropHandler(element) {
		element.addEventListener('dragenter', function (e) {
			e.preventDefault();
			e.stopPropagation();
			element.classList.add('drop-target');
		});
		element.addEventListener('dragleave', function (e) {
			e.preventDefault();
			e.stopPropagation();
			element.classList.remove('drop-target');
		});
		element.addEventListener('drop', async (e) => {
			e.preventDefault();
			element.files = e.dataTransfer.files;
		});
	};

	function createExtraImageInner(src) {
		let div = document.createElement("div");
		div.classList = "col";
		let div2 = document.createElement("div");
		div2.classList = "ratio ratio-16x9 bg-clear border-none";
		let img = document.createElement("img");
		img.src = src;
		img.classList = "card-img-top flat-image";

		div2.appendChild(img);
		div.appendChild(div2);

		return div;
	}

	function displayImagePreview() {
		let file = imagePicker.files[0];
		imagePreview.style.display = "none";
		if (file) {
			let fileReader = new FileReader();
			fileReader.addEventListener("load", function () {
				imagePreview.style.display = "";
				imagePreviewImg.setAttribute("src", this.result);
			});
			fileReader.readAsDataURL(file);
		}
	}
	function displayExtraImagesPreview() {
		imagesExtraPreview.style.display = "";
		let child = imagesExtraPreview.firstChild;
		while (child != undefined) {
			imagesExtraPreview.removeChild(child);
			child = imagesExtraPreview.firstChild;
		}
		for (let i = 0; i < imagesExtra.files.length; i++) {
			let file = imagesExtra.files[i];
			if (file) {
				let fileReader = new FileReader();
				fileReader.addEventListener("load", function () {
					imagesExtraPreview.style.display = "";
					imagesExtraPreview.appendChild(createExtraImageInner(this.result));
				});
				fileReader.readAsDataURL(file);
			}
		}
	}

	const form = document.getElementById("form");
	const filePicker = form['filePicker'];
	const imagePicker = form['imagePicker'];
	const imagesExtra = form['imagesExtra'];
	addDropHandler(filePicker);
	addDropHandler(imagePicker);
	addDropHandler(imagesExtra);

	const imagePreview = document.getElementById("imagePreview");
	const imagePreviewImg = document.getElementById("imagePreviewImg");
	const imagesExtraPreview = document.getElementById("imagesExtraPreview");

	imagePicker.addEventListener("change", displayImagePreview);
	imagePicker.addEventListener("drop", displayImagePreview);
	imagesExtra.addEventListener("change", displayExtraImagesPreview);
	imagesExtra.addEventListener("drop", displayExtraImagesPreview);
</script>
{% endblock content %}
