{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% let owner_name = owner.display_name.as_str() %}
{% let total_likes = total_likes %}
{% let total_downloads = total_downloads %}
{% let description = format!("{owner_name}'s mods") %}
{% call base::draw_embed(owner.display_name, description, owner.avatar) %}
{% endblock head %}

{% block content %}
<div class="card card-body row col-6 offset-3">
	<div class="row">
		<div class="col-4 card-img-left">
			<div class="ratio ratio-1x1">
				<img style="border-radius: 100%" src="{{ owner.avatar }}?size=256" crossorigin="anonymous">
			</div>
		</div>
		<div class="col-8">
			<h1 class="text">{{ owner.display_name }}</h1>
			<h5 class="text">
				<span class="material-symbols-outlined" style="font-size: 0.8rem">favorite</span>{{ total_likes|prettify_num }} <span class="material-symbols-outlined" style="font-size: 0.8rem">download</span>{{ total_downloads|prettify_num }}
			</h5>
			{% if owner.public_likes %}
			<a class="text" href="/liked/{{ owner.id }}">{{ owner.display_name }}'s Liked Mods</a>
			{% endif %}
		</div>
	</div>
</div>
<br>
{% call post_helpers::draw_post_list(posts) %}
{% endblock content %}
